@charset "utf-8";

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/inter/inter-variable.ttf);
  font-weight: 400 500;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --blue-200: hsl(224, 100%, 95%);
  --blue-400: hsl(220, 100%, 64%);
  --blue-600: hsl(228, 100%, 60%);
  --blue-700: hsl(228, 99%, 58%);
  --black: hsl(0, 0%, 0%); /* — used at 25% opacity for the menu overlay */
  --font-size-paragraph: 17px;
  --font-size-stat-descriptions-nav-footer: 14px;
}

body {
  background-color: var(--blue-700);
  color: var(--white);
  font-family: "Inter";
  font-weight: 400;
}

header {
  background-color: var(--blue-600);
  border-bottom: 1px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header span::before {
  content: "•";
}

header button {
  background-color: var(--blue-600);
  border: none;
  padding: 0.5rem;
}

nav {
  background-color: var(--blue-600);
  display: none;
}

nav.open {
  display: block;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  padding: 2rem 0rem;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  color: var(--white);
  display: block;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

nav ul li a:focus,
nav ul li a:hover {
  text-decoration: underline;
}

.hero-section {
  border-bottom: 1px solid var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
}

.hero-section h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.hero-section p {
  color: var(--blue-200);
  font-size: var(--font-size-paragraph);
}

.card-section {
  display: flex;
  flex-direction: column;
}

.card-section a {
  border-bottom: 1px solid var(--white);
  color: var(--blue-200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  min-height: 20rem;
  padding: 2rem;
}

.card-section a:focus,
.card-section a:hover {
  background-color: var(--blue-600);
}

.card-section .img-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-section .img-number .number {
  font-size: 2rem;
}

.card-content {
  color: var(--blue-200);
  font-size: var(--font-size-stat-descriptions-nav-footer);
}

.card-content h2 {
  font-weight: 500;
}

footer {
  background-color: var(--blue-600);
  color: var(--blue-200);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 0.5rem;
}

@media screen and (min-width: 900px) {
  body{
    display: grid;
    grid-template-rows: 5vh 90vh 5vh;
    grid-template-columns: auto;
    position: relative;
  }

  nav {
    position: absolute;
    top: 5vh;
    right: 0;
    width: 25%;
    height: 90vh;
  }

  header{
    grid-row: 1;
  }

  main{
    grid-row: 2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-section{
    grid-column: 1;
    justify-content: center;
    border-right: 1px solid var(--white);
    padding-left: 5rem;
  }

  .hero-section h1, .hero-section p{
    max-width: 50%;
  }

  .card-section{
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  
  .card-section a:first-child, .card-section a:nth-child(3){
    border-right: 1px solid var(--white);
  }

  .card-section a:nth-child(2), .card-section a:last-child{
    border-left: 1px solid var(--white);
  }

  footer{
    flex-direction: row;
    justify-content: space-between;
    grid-row: 3;
  }
}